.footer {
  background-color: #000;
  display: flex;
  justify-content:space-between;
  align-items: center;
  z-index: -2;
}

.icons {
  margin-left: 15px;
  padding: 15px;
  display: flex;
}

.footer span {
  color: #ffffffba;
  font-size: 12px;
  margin-right: 20px;
}

.icon {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3px 0 3px;
}

.icon::before {
  content: '';
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  z-index: -1;
  transition: .4s;
}

.icon:hover::before {
  background-color: #3f3f3f;
}