.header {
  width: 100%;
  height: 5rem;
  background-color: var(--color-grey-100);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}

.header ul {
  list-style: none;
  display: flex;
  align-items: baseline;
}

.header li {
  margin: 0 var(--size-4);
}

.header a {
  color: var(--color-grey-700);
  font-size: var(--size-4);
  transition: .5s;
}

.header a:hover,
.header a:active,
.header a.active {
  color: var(--color-grey-900);
}

.getStarted a {
  border: 2px var(--color-grey-800) solid;
  border-radius: 50px;
  padding: 7px 13px;
  font-weight: 600;
}

.getStarted a:hover {
  background-color: var(--color-green-100);
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  margin-left: 5px;
}

.contact {
  position: relative;
}

.icons {
  position: absolute;
  background-color: #414141;
  padding: 7px 5px 4px 4px;
  border-radius: 8px;
  margin-top: 5px;
  display: flex;
  align-items: center;
}

.icon {
  position: relative;
  z-index: 10;
}

.icon::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 2px;
  left: 4.8px; 
  border-radius: 2px;
  z-index: -1;
  transition: .4s;
  top:21.5px;

}

.icon:hover::before{
  background-color: #c0c0c0;
}

@media (min-width: 768px) {
  .header ul {
    gap: 0.5rem;
  }
}
