.header {
  width: 100%;
  height: 5rem;
  background-color: var(--color-grey-100);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}

.header ul {
  list-style: none;
  display: flex;
  align-items: baseline;
  margin: 0;
  padding: 0;
}

.header li {
  margin: 0 var(--size-4);
}

.header a {
  color: var(--color-grey-900);
  font-size: var(--size-3);
  transition: .3s;
}

.header a:hover,
.header a:active,
.header a.active {
  color: var(--color-error-500);
}

.getStarted a {
  border: 2px var(--color-grey-800) solid;
  border-radius: 50px;
  padding: 7px 13px;
  font-weight: 600;
}

.getStarted a:hover {
  background-color: var(--color-grey-200);

}

@media (min-width: 768px) {
  .header ul {
    gap: 0.5rem;
  }

  .header a {
    font-size: var(--size-4);
  }
}