.about {
  margin-top: 50px;
  margin-bottom: 22px;
  text-align: center;
}

.about_p {
  max-width: 700px;
  margin: auto;
  margin-bottom: 50px;
  font-weight: 500;
  padding: 0px 20px 0px 20px;
  text-align: justify;
}

.bullet_points {
  display: flex;
  justify-content: center;
  padding: 15px;
  max-width: 1000px;
  margin: auto;
}

.bullet_points p {
  padding: 0px 25px 0px 25px;
}

.bullet_points h3 {
  margin-top: 28px;
}

.bullet_point {
  flex: 1 1 0px;
  align-items: center;
  justify-content: center;
}

.image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image::before {
  content: '';
  background-color: #ECECEC;
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  z-index: -1;
  transition: .4s;
}

.image:hover::before {
  background-color: var(--color-green-100);
}


@media (max-width: 768px) {
  .about_p {
    max-width: 600px;
  }

  .bullet_point h3 {
    font-size: 13px;
  }

  .bullet_point p {
    font-size: 13px;
    padding: 0px 10px 0px 10px;
  }
  
  .image::before {
    width: 50px;
    height: 50px;
  }
 }
 
 @media (max-width: 680px) {
  .bullet_points {
    display: block;
  }

  .bullet_point {
    padding: 20px 0 20px 0;
  }

  .bullet_point p {
    font-size: 13px;
    padding: 0px 50px 0px 50px;
  }
 }

 @media (max-width: 412px) {
  .about_p {
    max-width: 350px;
  }
 }