.hero {
  text-align: center;
  background-image: linear-gradient(
    to bottom,
    var(--color-grey-100),
    var(--color-grey-50)
  );
}

.image_one {
  width: 260px;
  height: 280px;
  margin-top: 120px;
  margin-right: 70px;
}
.image_two {
  width: 260px;
  height: 400px;
}
.image_three {
  width: 260px;
  height: 280px;
  margin-top: 120px;
  margin-left: 70px;
}

.image_one img {
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 100%;
}
.image_two img {
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 100%;
}
.image_three img {
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 100%;
}

.images {
  display: flex;
  justify-content: center;
}

.hero h2 {
  font-weight: 600;
  font-size: var(--size-18);
  color: var(--color-grey-800);
  padding: 20px 20px;
  max-width: 700px;
  margin: auto;
}

.hero button {
  padding: 10px 23px;
  border-radius: 50px;
  margin-bottom: var(--size-20);
  margin-top: var(--size-2);
  transition: 0.3s;
  font-weight: 600;
}

.hero button:hover {
  background-color: var(--color-grey-200);
}

@media (max-width: 768px) {
 .hero h2 {
  font-size: 25px;
 }
}