.hero {
  text-align: center;
  background-image: linear-gradient(
    to bottom,
    var(--color-grey-100),
    var(--color-grey-50)
  );  
}

.hero_content {
  max-width: 700px;
  margin: auto;
}

.image_one {
  width: 260px;
  height: 350px;
  margin-top: 90px;
  margin-right: 70px;
}
.image_two {
  width: 260px;
  height: 440px;
}
.image_three {
  width: 260px;
  height: 500px;
  margin-top: -60px;
  margin-left: 70px;
}

.image_one img {
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 100%;
}
.image_two img {
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 100%;
}
.image_three img {
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 100%;
}

.images {
  display: flex;
  justify-content: center;
}

.hero h2 {
  font-weight: 600;
  font-size: var(--size-17);
  color: var(--color-grey-800);
  padding: 20px 20px;
  margin: auto;
}

/* .hero p {
} */

.hero button {
  padding: 13px 27px;
  border-radius: 50px;
  margin-bottom: var(--size-20);
  margin-top: var(--size-4);
  transition: 0.5s;
  font-weight: 600;
  background-color: var(--color-green-100);

}

.hero button:hover {
  background-color: var(--color-green-200);

}

@media (max-width: 920px) {
  .image_one {
    width: 260px;
    height: 280px;
    margin-right: 20px;
  }
  .image_two {
    width: 260px;
    height: 400px;
  }
  .image_three {
    width: 260px;
    height: 490px;
    margin-left: 20px;
  }
}

@media (max-width: 810px) {
  .image_one {
    width: 220px;
    height: 240px;
    margin-right: 20px;
    margin-top: 160px;
  }
  .image_two {
    width: 220px;
    height: 340px;
    margin-top: 60px;
  }
  .image_three {
    width: 220px;
    height: 420px;
    margin-left: 20px;
    margin-top: -20px;
  }

  .hero button {
    margin-bottom: 0;
  }

  .hero_content {
    max-width: 600px;
  }

  .hero h2 {
    font-size: 30px;
   }
}

@media (max-width: 768px) {
 .hero h2 {
  font-size: 25px;
 }

 .image_one {
  width: 220px;
  height: 240px;
  margin-right: 20px;
  margin-top: 160px;
}
.image_two {
  width: 220px;
  height: 340px;
  margin-top: 60px;
}
.image_three {
  width: 220px;
  height: 420px;
  margin-left: 20px;
  /* margin-top: 30px; */
}

}

@media (max-width: 650px) {
  .hero h2 {
    font-size: 23px;
   }

  .hero_content {
    max-width: 450px;
  }

  .hero button {
    padding: 9px 23px;
  }

  .image_one {
    display: none;
  }
  .image_two {
    width: 220px;
    height: 370px;
    margin-top: 100px;
  }
  .image_three {
    width: 220px;
    height: 420px;
    margin-left: 20px;
    margin-top: 50px;
  }
}

@media (max-width: 430px) {
  .hero_content p {
    max-width: 300px;
    text-align: justify;
    margin: auto;
    margin-bottom: 15px;
  }

  .images {
    display: block;
    padding-bottom: 20px;
  }

  .image_one {
    display: block;
    width: 220px;
    height: 444px;
    margin-left: 20px;
    margin-top: 60px;
  }
  .image_two {
    width: 220px;
    height: 444px;
    margin: auto;
    margin-top: -110px;
  }
  .image_three {
    width: 220px;
    height: 445px;
    margin-left: 174px;
    margin-top: -110px;
  }
}