@tailwind base;
@tailwind components;
@tailwind utilities;

.icon::before {
  content: '';
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  z-index: -1;
  transition: .4s;
}

.icon:hover::before {
  background-color: #3f3f3f;
}